<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>添加成员</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:inline="javascript">
		const api = [[@{/api/member}]];
		const index = [[@{/member/index}]];
		const cid = [[${ cid }]]
		const csrfName = [[${ _csrf.parameterName }]];
		const csrfToken = [[${ _csrf.token }]];
	</script>
	<script>
		async function create() {
			let param = {
				cid: cid,
				sid: $('#sid').val(),
				position: $('#position').val()
			}
			param[csrfName] = csrfToken
			let request = await fetch(api + "/create/",
				{
					body: JSON.stringify(param),
					method: "POST",
					headers: {
						"Content-Type": 'application/json',
						'X-CSRF-TOKEN': csrfToken
					},
					credentials: "same-origin"
				});

			if (request.ok) {
				window.location = index
			}
			else {
				console.log("更改失败");
			}
		}
	</script>
</head>

<body>
	<div class="container">
		<nav class="navbar navbar-expand-md navbar-pills">
			<a class="navbar-brand" th:href="@{/}">
				<img th:src="@{/img/logo.png}" alt="logo" class="mr-1"> 社团管理系统</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggle"
				aria-controls="navbar-toggle" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbar-toggle">
				<div class="navbar-nav">
					<a class="nav-link" th:href="@{/club/index}">社团管理</a>
					<a class="nav-link active" th:href="@{/member/index}">社团成员管理</a>
					<a class="nav-link" th:href="@{/activity/index}">活动管理</a>
				</div>
			</div>
		</nav>
		<div class="row">
			<div class="input-group mb-2 col-md-6">
				<div class="input-group-prepend">
					<span class="input-group-text">学号</span>
				</div>
				<input type="text" th:name="name" id="name" class="col-md form-control">
			</div>
			<div class="input-group mb-2 col-md-6">
				<div class="input-group-prepend">
					<span class="input-group-text">职位</span>
				</div>
				<input type="text" th:name="location" id="location" class="col-md form-control">
			</div>
		</div>
		<div class="row">
			<button onclick="create(this)" class="btn btn-primary col-md">确认</button>
		</div>
	</div>
</body>

</html>