<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编辑社团成员</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:inline="javascript">
        const memberapi = [[@{/api/member}]];
        const mid = [[${member.mid}]];
        const cid = [[${member.cid}]];
		const returnUrl = [[@{/member/showClub}]];
        const csrfName = [[${_csrf.parameterName}]];
        const csrfToken = [[${_csrf.token}]];
    </script>
    <script>
        async function editMember(elem) {
            let param = {
                mid: mid,
                cid: cid,
                sid: $('#sid').val(),
                position: $('#position').val()
            }
            param[csrfName] = csrfToken
            let request = await fetch(memberapi + "/update/" + elem.getAttribute('data-id'),
                    {
                        body: JSON.stringify(param),
                        method: "POST",
                        headers: {
                            "Content-Type": 'application/json',
                            'X-CSRF-TOKEN': csrfToken
                        },
                        credentials: "same-origin"
                    });

            if(request.ok) {
				window.location = returnUrl + "?id=" + cid
            }
            else {
                console.log("更改失败");
            }
        }
    </script>
</head>
<body>
<div class="container">
	<nav class="navbar navbar-expand-md navbar-pills">
		<a class="navbar-brand" th:href="@{/}">
			<img th:src="@{/img/logo.png}" alt="logo" class="mr-1"> 社团管理系统</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggle"
			aria-controls="navbar-toggle" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar-toggle">
			<div class="navbar-nav">
				<a class="nav-link" th:href="@{/club/index}">社团管理</a>
				<a class="nav-link active" th:href="@{/member/index}">社团成员管理</a>
				<a class="nav-link" th:href="@{/activity/index}">活动管理</a>			</div>
		</div>
	</nav>
        <div class="row">
			<div class="col col-md input-group mb-2 col-md-6">
				<div class="input-group-prepend">
					<span class="input-group-text">学号</span>
				</div>
				<input type="text" th:name="name" id="name" class="col-md form-control" th:value="${member.sid}">
			</div>
			<div class="col col-md input-group mb-2 col-md-6">
				<div class="input-group-prepend">
					<span class="input-group-text">职位</span>
				</div>
				<input type="text" th:name="location" id="location" class="col-md form-control" th:value="${member.position}">
			</div>
        </div>
        <div class="row">
            <button type="submit" th:data-id="${member.mid}" onclick="editMember(this)"
                    class="btn btn-primary col-md">确认</button>
        </div>
</div>
</body>
</html>