<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>成员管理</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:inline="javascript">
        const clubapi = [[@{/api/club}]];
        const memberView = [[@{/member}]];
        const csrfName = [[${_csrf.parameterName}]];
        const csrfToken = [[${_csrf.token}]];
    </script>
	<script th:src="@{/js/clubutils.js}"></script>
    <script>
        function goEdit(elem) {
            window.location = memberView + "/showClub?id=" + elem.getAttribute('data-id')
        }

        getOnePageOfClub(0);
    </script>
</head>
<body>
    <div class="container">
		<nav class="navbar navbar-expand-md navbar-pills">
			<a class="navbar-brand" th:href="@{/}">
				<img th:src="@{/img/logo.png}" alt="logo" class="mr-1"> 社团管理系统</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggle"
				aria-controls="navbar-toggle" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbar-toggle">
				<div class="navbar-nav">
					<a class="nav-link" th:href="@{/club/index}">社团管理</a>
					<a class="nav-link active" th:href="@{/member/index}">社团成员管理</a>
					<a class="nav-link" th:href="@{/activity/index}">活动管理</a>				</div>
			</div>
		</nav>
        <p>查找待编辑的社团</p>
        <div class="row d-flex">
            <input class="form-control col-md-10"
                   type="text" name="clubname"
                   id="clubName" placeholder="社团名称">
            <button class="btn btn-outline-primary col-md-2" onclick="searchClubClicked()">查找</button>
        </div>
        <div class="container col-md" id="search-result" >
        </div>
    </div>
</body>
</html>