<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编辑社团信息</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:inline="javascript">
        const clubapi = [[@{/api/club}]];
        const memberapi = [[@{/api/member}]];
        const editmember = [[@{/member/edit}]];
        const transfer = [[@{/member/transfer}]];
        const clubid = [[${club.id}]];
        const csrfName = [[${_csrf.parameterName}]];
        const csrfToken = [[${_csrf.token}]];
    </script>
    <script>
        function goEdit(elem) {
            window.location = editmember + "?id=" + elem.getAttribute("data-id")
        }

        function goTransfer(elem) {
            window.location = transfer + "?id=" + elem.getAttribute("data-id")
        }

        async function deleteMember(elem) {
            let param = {}
            param[csrfName] = csrfToken
            let recordid = elem.getAttribute('data-id');
            let request = await fetch(memberapi + "/delete/" + recordid,
                {
                    body: JSON.stringify(param),
                    method: "POST",
                    headers: {
                        "Content-Type": 'application/json',
                        'X-CSRF-TOKEN': csrfToken
                    },
                    credentials: "same-origin"
                });

            if (request.ok) {
                alert("已成功删除！");
                elem.parentElement.parentElement.parentElement.remove();
                // document.querySelector("[data-record-id='"+recordid+"']")
            } else {
                console.log(request.statusText);
            }
        }
    </script>
</head>
<body>
<div class="container">
        <div class="row">
            社团名称：<span th:text="${club.name}"></span>
            <a class="btn btn-outline-primary col-md-2"
               th:href="@{/member/create} + '?id=' + ${club.id}">添加成员</a>
        </div>
        <div class="container" id="member-list">
            <div class="bg-light rounded-2 mb-1 p-1" th:each="member:${members}">
                <div class="row">
                    <div class="col-4">
                        <span>学号：</span><span th:text="${member.sid}"></span>
                    </div>
                    <div class="col-4">
                        <span>职位：</span><span th:text="${member.position}"></span>
                    </div>
                    <div class="col-4">
                        <a class="btn btn-primary" th:data-id="${member.mid}" onclick="goEdit(this)">编辑</a>
                        <a class="btn btn-primary" th:data-id="${member.mid}" onclick="goTransfer(this)">转移所属</a>
                        <button class="btn btn-danger" th:data-id="${member.mid}" onclick="deleteMember(this)">删除</button>
                    </div>
                </div>
            </div>
        </div>
</div>
</body>
</html>