<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编辑社团信息</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:inline="javascript">
        const memberapi = [[@{/api/member}]];
        const mid = [[${member.mid}]];
        const cid = [[${member.cid}]];
        const memberIndex = [[@{/member/}]];
        const csrfName = [[${_csrf.parameterName}]];
        const csrfToken = [[${_csrf.token}]];
    </script>
    <script>
        async function editMember(elem) {
            let param = {
                id: mid,
                cid: cid,
                sid: $('#sid').val(),
                position: $('#position').val()
            }
            param[csrfName] = csrfToken
            let request = await fetch(memberapi + "/update/" + elem.getAttribute('data-id'),
                    {
                        body: JSON.stringify(param),
                        method: "POST",
                        headers: {
                            "Content-Type": 'application/json',
                            'X-CSRF-TOKEN': csrfToken
                        },
                        credentials: "same-origin"
                    });

            if(request.ok) {
                window.location = memberIndex
            }
            else {
                console.log("更改失败");
            }
        }
    </script>
</head>
<body>
<div class="container">
<!--    <form method="post" th:action="@{/club/update}" >-->
        <div class="row">
            <label>
                学号
                <input type="text" th:name="sid" id="sid"
                       class="col-md-6 form-control" th:value="${member.sid}">
            </label>
            <label>
                职位
                <input type="text" th:name="position" id="position"
                       class="col-md-6 form-control" th:value="${member.position}">
            </label>
        </div>
        <div class="row">
            <button type="submit" th:data-id="${member.mid}" onclick="editMember(this)"
                    class="btn btn-primary col-md">确认</button>
        </div>
</div>
</body>
</html>