<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编辑社团活动</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:inline="javascript">
        const api = [[@{/api/activity}]];
        const aid = [[${activity.aid}]];
        const cid = [[${activity.cid}]];
        const showClub = [[@{/activity/showClub}]];
        const csrfName = [[${_csrf.parameterName}]];
        const csrfToken = [[${_csrf.token}]];
    </script>
    <script>
        async function editActivity(elem) {
            let param = {
                aid: aid,
                cid: cid,
                name: $('#name').val(),
                location: $('#location').val(),
                timestart: $('#timestart').val(),
                timeend: $('#timeend').val()
            }
            param[csrfName] = csrfToken
            let request = await fetch(api + "/update/" + elem.getAttribute('data-id'), {
                body: JSON.stringify(param),
                method: "POST",
                headers: {
                    "Content-Type": 'application/json',
                    'X-CSRF-TOKEN': csrfToken
                },
                credentials: "same-origin"
            });

            if(request.ok) {
                alert("编辑成功！")
                window.location = showClub + "?id=" + cid
            }
            else {
                console.log("更改失败");
            }
        }
    </script>
</head>
<body>
<div class="container">
	<nav class="navbar navbar-expand-md navbar-pills">
		<a class="navbar-brand" th:href="@{/}">
			<img th:src="@{/img/logo.png}" alt="logo" class="mr-1"> 社团管理系统</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggle"
			aria-controls="navbar-toggle" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar-toggle">
			<div class="navbar-nav">
				<a class="nav-link" th:href="@{/club/index}">社团管理</a>
				<a class="nav-link" th:href="@{/member/index}">社团成员管理</a>
				<a class="nav-link active" th:href="@{/activity/index}">活动管理</a>
			</div>
		</div>
	</nav>
		<div class="row">
			<div class="col input-group mb-2 col-md-6">
				<div class="input-group-prepend">
					<span class="input-group-text">活动名</span>
				</div>
				<input type="text" th:name="name" id="name" class="col-md form-control" th:value="${activity.name}">
			</div>
			<div class="col input-group mb-2 col-md-6">
				<div class="input-group-prepend">
					<span class="input-group-text">举办地点</span>
				</div>
				<input type="text" th:name="location" id="location" class="col-md form-control" th:value="${activity.location}">
			</div>
		</div>
		<div class="row">
			<div class="col input-group mb-2 col-md-6">
				<div class="input-group-prepend">
					<span class="input-group-text">开始时间</span>
				</div>
				<input type="datetime-local" th:name="timestart" id="timestart" class="col-md form-control"
					th:value="${activity.timestart}">
			</div>
			<div class="col input-group mb-2 col-md-6">
				<div class="input-group-prepend">
					<span class="input-group-text">结束时间</span>
				</div>
				<input type="datetime-local" th:name="timeend" id="timeend" class="col-md form-control"
					th:value="${activity.timeend}">
			</div>
		</div>
        <div class="row">
            <button type="submit" th:data-id="${activity.aid}" onclick="editActivity(this)"
                    class="btn btn-primary col-md">确认</button>
        </div>
</div>
</body>
</html>