<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编辑社团信息</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:inline="javascript">
        const memberapi = [[@{/api/member}]];
        const aid = [[${activity.aid}]];
        const cid = [[${activity.cid}]];
        const memberIndex = [[@{/member/}]];
        const csrfName = [[${_csrf.parameterName}]];
        const csrfToken = [[${_csrf.token}]];
    </script>
    <script>
        async function editActivity(elem) {
            let param = {
                aid: aid,
                cid: cid,
                name: $('#name').val(),
                timestart: $('#timestart').val(),
                timeend: $('#timeend').val()
            }
            param[csrfName] = csrfToken
            let request = await fetch(memberapi + "/update/" + elem.getAttribute('data-id'),
                    {
                        body: JSON.stringify(param),
                        method: "POST",
                        headers: {
                            "Content-Type": 'application/json',
                            'X-CSRF-TOKEN': csrfToken
                        },
                        credentials: "same-origin"
                    });

            if(request.ok) {
                window.location = memberIndex
            }
            else {
                console.log("更改失败");
            }
        }
    </script>
</head>
<body>
<div class="container">
<!--  编辑模版  -->
        <div class="row">
            <label>
                活动名
                <input type="text" th:name="name" id="name"
                       class="col-md form-control" th:value="${activity.name}">
            </label>
            <label>
                举办地点
                <input type="text" th:name="location" id="location"
                       class="col-md form-control" th:value="${activity.location}">
            </label>
            <label>
                开始时间
                <input type="datetime-local" th:name="timestart" id="timestart"
                       class="col-md form-control" th:value="${activity.location}">
            </label>
            <label>
                结束时间
                <input type="datetime-local" th:name="timeend" id="timeend"
                       class="col-md form-control" th:value="${activity.location}">
            </label>
        </div>
        <div class="row">
            <button type="submit" th:data-id="${activity.aid}" onclick="editActivity(this)"
                    class="btn btn-primary col-md">确认</button>
        </div>
</div>
</body>
</html>