<!DOCTYPE html>
<html lang="zh"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录系统</title>
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-pills">
		<a class="navbar-brand" th:href="@{/}">
			<img th:src="@{/img/logo.png}" alt="logo" class="mr-1"> 社团管理系统</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggle"
			aria-controls="navbar-toggle" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar-toggle">
			<div class="navbar-nav">
				<a class="nav-link" th:href="@{index.html}">社团管理</a>
				<a class="nav-link" th:href=".@{/member/index}">社团成员管理</a>
				<a class="nav-link active" th:href="@{/activity/index}">活动管理</a>
			</div>
		</div>
	</nav>
    <form th:action="@{/dologin}" th:object="${oop.clubsv3.models.LoginInfo}"
          method="post">
        <label for="username">用户名</label>
        <input type="text" name="username" id="username">
        <label for="pass">密码</label>
        <input type="text" name="password" id="pass">
        <input type="hidden" th:value="${_csrf.token}" name="_csrf" th:if="${_csrf}"/>
        <input type="submit" value="点击登录">
    </form>
</body>
</html>