<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加社团</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <script src="../js/jquery.min.js"></script>
    <script inline="javascript">
        const clubapi = "/api/club";
        const clubindex = "/club/index";
        const csrfName = "csrf"
        const csrfToken = "123456"
    </script>
    <script>
        async function create() {
            let param = {
                name: $('#clubName').val(),
                foundDate: $('#foundDate').val()
            }
            param[csrfName] = csrfToken
            let request = await fetch(clubapi + "/create/",
                    {
                        body: JSON.stringify(param),
                        method: "POST",
                        headers: {
                            "Content-Type": 'application/json',
                            'X-CSRF-TOKEN': csrfToken
                        },
                        credentials: "same-origin"
                    });

            if(request.ok) {
                window.location = clubindex
            }
            else {
                console.log("更改失败");
            }
        }
    </script>
</head>
<body>
<div class="container">
	<nav class="navbar navbar-expand-md navbar-pills">
		<a class="navbar-brand" href="../index.html">
			<img src="../img/logo.png" alt="logo" class="mr-1"> 社团管理系统</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggle"
			aria-controls="navbar-toggle" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar-toggle">
			<div class="navbar-nav">
				<a class="nav-link" th:href="@{./index.html}">社团管理</a>
				<a class="nav-link" th:href="@{member/index.html}">社团成员管理</a>
				<a class="nav-link active" th:href="@{/activity/index.html}">活动管理</a>
			</div>
		</div>
	</nav>

	<div class="row">
		<div class="input-group mb-2">
			<div class="input-group-prepend">
				<span class="input-group-text">社团名称</span>
			</div>
			<input type="text" name="name" id="clubName" class="col-md-6 form-control">
		</div>
		<div class="input-group mb-2">
			<div class="input-group-prepend">
				<span class="input-group-text">创立日期</span>
			</div>
			<input type="date" name="foundDate" id="foundDate" class="col-md-6 form-control">
		</div>
	</div>
	<div class="row">
		<button onclick="create(this)" class="btn btn-primary col-md">确认</button>
	</div>
</div>
</body>
</html>