<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编辑社团信息</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:inline="javascript">
        const clubapi = [[@{/api/club}]];
        const clubindex = [[@{/club/index}]];
        const clubid = [[${club.id}]];
        const csrfName = [[${_csrf.parameterName}]];
        const csrfToken = [[${_csrf.token}]];
    </script>
    <script>
        async function editClub(elem) {
            let param = {
                id: clubid,
                name: $('#clubName').val(),
                foundDate: $('#foundDate').val()
            }
            param[csrfName] = csrfToken
            let request = await fetch(clubapi + "/update/" + elem.getAttribute('data-id'),
                    {
                        body: JSON.stringify(param),
                        method: "POST",
                        headers: {
                            "Content-Type": 'application/json',
                            'X-CSRF-TOKEN': csrfToken
                        },
                        credentials: "same-origin"
                    });

            if(request.ok) {
                window.location = clubindex
            }
            else {
                console.log("更改失败");
            }
        }
    </script>
</head>
<body>
<div class="container">
	<nav class="navbar navbar-expand-md navbar-pills">
		<a class="navbar-brand" th:href="@{/}">
			<img th:src="@{/img/logo.png}" alt="logo" class="mr-1"> 社团管理系统</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggle"
			aria-controls="navbar-toggle" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar-toggle">
			<div class="navbar-nav">
				<a class="nav-link active" th:href="@{/club/index}">社团管理</a>
				<a class="nav-link" th:href="@{/member/index}">社团成员管理</a>
				<a class="nav-link" th:href="@{/activity/index}">活动管理</a>			</div>
		</div>
	</nav>
	<div class="">
		<label>
			社团名称
			<input type="text" th:name="name" id="clubName" class="col-md-6 form-control" th:value="${club.name}">
		</label>
		<label>
			创立日期
			<input type="date" th:name="foundDate" id="foundDate" class="col-md-6 form-control"
				th:value="${club.foundDate}">
		</label>
		<input type="hidden" name="id" th:value="${club.id}">
	</div>
	<div class="row">
		<button type="submit" th:data-id="${club.id}" onclick="editClub(this)"
			class="btn btn-primary col-md">确认</button>
	</div>
</div>
</body>
</html>